!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MolinosAncestry
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      %ul
        - if admin_signed_in?
          %li= link_to 'Админка', rails_admin_path
          %li= link_to 'Выйти', destroy_admin_session_path, method: :delete
        - else
          %li= link_to 'Войти', new_admin_session_path
      = yield
