!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8",
      "http-equiv" => "Content-Type"}/
    %title MolinosAncestry
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
  %ul.nav
    - if admin_signed_in?
      %li.nav-item= link_to 'Home', private_root_path, class: 'nav-link'
      %li.nav-item= link_to 'Logout', destroy_admin_session_path, method: :delete, class: 'nav-link'
    - else
      %li.nav-item= link_to 'Home', root_path, class: 'nav-link'
  .container
    = bootstrap_flash
    = yield
